<div class="fondo">
    <div style="height: 100vh; margin: 0; display: flex; justify-content: center; align-items: center;" >
        
        <div class="d-grid gap-2 col-8">
            <button class="btn btn-danger" style="font-family:'Times New Roman', Times, serif;color: white;font-family: 'Pixelade', sans-serif;" type="button">Crear Partida</button>
            <button class="btn btn-danger" [classList]="logout()" style="font-family:'Times New Roman', Times, serif;color: white;font-family: 'Pixelade', sans-serif;" type="button">Salir</button>
        </div>
</div>
</div>