@font-face {
    font-family: 'Pixelade';
    src: url('../../../../assets/Pixelify_Sans/static/PixelifySans-Regular.ttf'); 
  }

  td{
    font-family: 'Pixelade', sans-serif;
  }

  .cursor {
    cursor: url('../../../../assets/imagenchida.png'), auto;
  }