<div class="fondo" style="text-align: center;color: white;">
<div class="container"  style="align-items: center;color: white;">
    <h1 style="font-family: 'Pixelade', sans-serif;">Historial Juego</h1>
    <hr>
    <div class="container" style="background-color: rgba(0, 0, 0, 0.642);border-radius: 10px;">
        <p style="font-family: 'Pixelade', sans-serif;">Aqui Podras Encontrar Tu Historial De Victorias Y Derrotas Dentro De Este Humilde Juego</p>
        <hr>
        <a routerLink="/Pantalla" style="font-family: 'Pixelade', sans-serif;">Da Click Aqui Para Volver</a>
    </div>
</div>
<div class="container">

    <h1 style="text-align: center;  font-family: 'Pixelade', sans-serif;">{{usersList.name}}</h1>
    <h3 style="text-align: start; font-family: 'Pixelade', sans-serif;">Victorias: {{usersList.wins}}</h3>
    <h3 style="text-align: start;  font-family: 'Pixelade', sans-serif;"> Victorias: {{usersList.losses}}</h3>

      
</div>
</div>