<div class="fondo">
    <div style="height: 100vh; margin: 0; display: flex; justify-content: center; align-items: center;">
        <div>
          <div class="container">
            <form [formGroup]="formuser">
              <div class="form-floating mb-3">
                <input  type="text" class="form-control" formControlName="codes"  [(ngModel)]="code.code" style="font-family: 'Pixelade', sans-serif;">
                <label for="floatingInput" style="font-family: 'Pixelade', sans-serif;">Codigo De Verificacion</label>

                <div *ngIf="codes.invalid && (codes.dirty || codes.touched)" class="text-danger" role="alert">
                  <div *ngIf="codes.errors?.['required']">
                    El campo es requerido.
                  </div>
                  <div *ngIf="codes.errors?.['minlength']">
                    Mínimo 6 caracteres.
                  </div>
                  <div *ngIf="codes.errors?.['pattern']">
                  Solo numeros
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-grid gap-2 text-center">
                <button class="btn btn-danger btn-lg"  [disabled]="!formuser.valid" type="submit" (click)="verifyCode()" style="font-family: 'Pixelade', sans-serif;">Enviar Codigo</button>
              </div>
            </form>
          </div>
        </div> 
      </div>
      
</div>